.a-highlights--center
  .a-highlight{style: "border-right: solid 2px #{hackroom.colour}"}
    %i.fa.fa-user
    = admin_count(hackroom)

  .a-highlight{style: "border-right: solid 2px #{hackroom.colour}"}
    %i.fa.fa-group
    = member_count(hackroom)

  .a-highlight{style: "border-right: solid 2px #{hackroom.colour}"}
    %i.fa.fa-keyboard-o
    = language_count(hackroom)
