.m-hackroom-list
  - @hackrooms.each do |hackroom|
    .m-hackroom-list__hackroom
      = link_to hackroom_path(hackroom) do
        %h2{class: ("m-hackroom-list__title--#{hackroom.languages.first.id}" if hackroom.languages.any?) }
          = hackroom.name
      %p
        - if hackroom.users.any?
          = pluralize(hackroom.users.count, 'member')
          - if hackroom.languages.any?
            using
            = hackroom.languages.map {|l| l.name }.to_sentence
          - else
            still deciding which programming languages to use.

        - else
          This hackroom doesn't have any members yet. Would you like to
          = link_to 'join', join_hackroom_path(hackroom)
          it?


      .u-right
        = link_to "View", hackroom, class: 'a-button'
