- set_page_title("Hackrooms")

.m-hackroom

  - if user_is_admin
    %section.a-section.u-margin-top
      .a-content.u-center
        = link_to "Add hackroom", new_hackroom_path, class: 'a-button  a-button--edit'

  %section.a-section
    .a-content

      = render partial: 'shared/people_tabs'

      %h1.u-center
        #hackroom-search-heading
          = render 'heading'

      = render partial: 'filter'
      = render partial: 'sort'

      #hackroom-search-results
        = render 'results'
