- set_page_title("Hackrooms")

.m-hackroom

  %section.a-section
    .a-content--xwide

      = render partial: 'shared/people_tabs'

      %h1.u-center
        #hackroom-search-heading
          = render 'heading'

      = render partial: 'filter'
      = render partial: 'sort'

  - if current_user
    %section.a-section.u-margin-top--mobile
      .a-content.u-center
        = link_to "Create hackroom", new_hackroom_path, class: 'a-button  a-button--edit'

  %section.a-section
    .a-content
      #hackroom-search-results
        = render 'results'
