- set_page_title(@hackroom.name + " hackroom")

.a-page-holder

  - if can? :manage, @hackroom
    %section.a-section.u-margin-top--mobile
      .a-content.u-center
        = link_to "Edit hackroom", edit_hackroom_path(@hackroom), class: "a-button a-button--edit"

  %section.a-section
    .a-content

      %h1= link_to @hackroom.name, @hackroom, class: ("a-paint-border-bottom a-paint-border-bottom--#{@hackroom.primary_languages&.first&.id}")

      = sanitize(@hackroom.mission)

      = render partial: 'language_list', locals: { hackroom: @hackroom }

      - if @hackroom.owners.any?
        %h2 Maintainers
        .a-identities
          - @hackroom.owners.each do |user|
            = render partial: 'shared/user_tag', locals: { user: user }

      - if @hackroom.users.any?
        %h2 Members
        .a-identities
          - @hackroom.users.each do |user|
            = render partial: 'shared/user_tag', locals: { user: user }

      - if current_user
        .u-margin-top.u-float-right
          - if user_in_hackroom?(@hackroom, current_user)
            = link_to 'Leave hackroom', join_hackroom_path, class: 'a-button'
          - else
            = link_to 'Join hackroom', join_hackroom_path, class: 'a-button'
