- set_page_title(@hackroom.name)
.a-page-holder
  .m-billboard
    .m-billboard__container
      .m-billboard__container-left
        %h1.m-billboard__title= @hackroom.name
        .m-billboard__description= sanitize @hackroom.mission
        .m-billboard__description
          Created by
          = link_to @hackroom.author.name, @hackroom.author
        %hr{style: "border-bottom: solid 2px #{@hackroom.colour}"}
      .m-billboard__container-right

    .u-interval= render partial: 'hackrooms/highlights', locals: { hackroom: @hackroom }
    .u-interval= render partial: 'hackrooms/links', locals: { hackroom: @hackroom }

    .u-float-right= link_to 'Edit', edit_hackroom_path(@hackroom), class: 'a-button' if can? :manage, @hackroom

    .m-billboard__nav= render partial: 'hackroom_nav', locals: { hackroom: @hackroom }

  %section.a-section
    .a-content--xwide.u-margin-top#hackroom-content= render partial: 'shared/comments', locals: { commentable: @hackroom }

  .u-margin-bottom
