- set_page_title(@hackroom.name)
.m-profile
  = render partial: 'sidebar'

  .m-profile__content
    = render partial: 'hackroom_nav', locals: { selected: 'languages' }

    .m-profile__current-content
      .m-profile__grid
        - @hackroom.primary_languages.each do |language|
          = link_to language do
            = image_tag(language_avatar_url(language), title: language.name, class: 'a-avatar a-avatar--small a-avatar--square', style: "border: solid 2px #{language.colour}")
      .m-profile__grid
        - @hackroom.languages.each do |language|
          = link_to language do
            = image_tag(language_avatar_url(language), class: 'a-avatar a-avatar--small a-avatar--square', style: "border: solid 2px #{language.colour}")
      .m-profile__grid
        - Language.all.each do |language|
          - unless @hackroom.primary_languages.include?(language) || @hackroom.languages.include?(language)
            = link_to language do
              = image_tag(language_avatar_url(language), class: 'a-avatar a-avatar--small a-avatar--greyscale a-avatar--square', style: "border: solid 2px #a2a2a0")

-# .a-page-holder
-#   .m-billboard
-#     .m-billboard__container
-#       .m-billboard__container-left
-#         %h1.m-billboard__title= @hackroom.name
-#         .m-billboard__description= sanitize @hackroom.mission
-#         .m-billboard__description
-#           Created by
-#           = link_to @hackroom.author.name, @hackroom.author
-#         %hr{style: "border-bottom: solid 2px #{@hackroom.colour}"}
-#       .m-billboard__container-right

-#     .u-interval= render partial: 'hackrooms/highlights', locals: { hackroom: @hackroom }
-#     .u-interval= render partial: 'hackrooms/links', locals: { hackroom: @hackroom }

-#     .u-float-right
-#       - if current_user
-#         - if user_in_hackroom?(@hackroom, current_user)
-#           = link_to 'Leave', join_hackroom_path(@hackroom), class: 'a-button'
-#         - else
-#           = link_to 'Join', join_hackroom_path(@hackroom), class: 'a-button'
-#       - else
-#         = link_to 'Join', new_user_session_path, class: 'a-button'
-#       = link_to 'Edit', edit_hackroom_path(@hackroom), class: 'a-button' if can? :manage, @hackroom

-#     .m-billboard__nav= render partial: 'hackroom_nav', locals: { hackroom: @hackroom }

-#   %section.a-section
-#     .a-content--xwide.u-margin-top#hackroom-content= render partial: 'shared/comments', locals: { commentable: @hackroom }

-#   .u-margin-bottom
