- set_page_title("Meetup event")

.a-page-holder

  .m-post-editor
    %h1 Meetup event

    = form_for [:admin, @event] do |f|
      .m-post-editor__title
        %h1= f.text_field :name, placeholder: "Learn, discuss and practice code"
      .m-post-editor__content
        = f.trix_editor :description

      .m-post-editor__content
        = f.date_field :date

      - if current_user.has_role?(:admin)
        .a-content
          %h2 WLC Admins only
          %h2 Sponsor
          = f.select :sponsor_id, user_options_for_select(Sponsor.all, f.object.sponsor_id), { label: 'Sponsors' }

      .u-margin-top
        .m-post-editor__submit
          - if @event.persisted?
            = link_to "Delete event", [:admin, @event], method: :delete, data: { confirm: 'Delete event?' }, class: 'a-button a-button--ghost u-left'
            = link_to "Cancel", admin_events_path, class: 'a-button a-button--ghost u-left'
            = f.submit 'Save changes', class: 'a-button u-float-right'

          - else
            = link_to "Cancel", admin_events_path, class: 'a-button a-button--ghost'
            = f.submit 'Schedule', class: 'a-button'
