- set_page_title("Meetup event")

.a-page-holder

  .m-post-editor
    %h1 Meetup event

    = form_for [:admin, @event] do |f|
      .m-form
        %h3 Meetup title
        .u-margin-bottom--small= f.text_field :name, placeholder: "Learn, discuss and practice code"
        %h3 Describe the plan for the day
        .u-margin-bottom--small
          = f.cktext_area :description, cols: 40, ckeditor: { uiColor: '$colour-grey' }
        %h3 Meetup start and finish dates
        .u-margin-bottom--small.m-form--narrow= f.datetime_local_field :date
        .u-margin-bottom--small.m-form--narrow= f.datetime_local_field :finish_date
        - if @event.persisted?
          %h3 URL slug
          %p Changing this will break the previous link to the meetup page.
          .u-margin-bottom--small= f.text_field :slug

        - if current_user.has_role?(:admin)
          .a-content
            %h2 WLC Admins only
            %h3 Sponsor
            = f.select :sponsor_id, user_options_for_select(Sponsor.all, f.object.sponsor_id), { label: 'Sponsors' }

        .u-margin-top
          .m-post-editor__submit
            - if current_user.has_role?(:admin)
              - if @event.persisted?
                = link_to "Delete event", [:admin, @event], method: :delete, data: { confirm: 'Delete event?' }, class: 'a-button a-button--ghost u-left'
                = link_to "Cancel", admin_events_path, class: 'a-button a-button--ghost u-left'
                = f.submit 'Save changes', class: 'a-button u-float-right'

              - else
                = link_to "Cancel", admin_events_path, class: 'a-button a-button--ghost'
                = f.submit 'Schedule', class: 'a-button'
            - else
              = link_to "Cancel", admin_your_events_path, class: 'a-button a-button--ghost u-left'
              = f.submit 'Save changes', class: 'a-button u-float-right'
