= render partial: 'meetup_with_dates', locals: { meetup: @meetup }
= render partial: 'photo', locals: { source: "https://s3.eu-west-2.amazonaws.com/wlcimages/7EB407FC-6FC5-4198-A76A-47C13DAC6CBF+copy.jpg" }
%br
%table.row
  %tbody
    %tr
      %th.small-12.large-12.columns.first.last
        %table
          %tr
            %th
              %b
                %h5
                  Hi
                  = succeed ',' do
                    = @user.name
              %p
                We've organised a meetup at
                = @meetup.sponsor.name
                on
                = succeed '.' do
                  %strong= @meetup.start_date
                I hope you can make it. It would be great if you brought a laptop, but not essential.
              %p
                = link_to "http://maps.google.com/?q=#{strip_tags @meetup.sponsor.address}" do
                  = sanitize @meetup.sponsor.address
              %br
              %table.button.swu-button
                %tr
                  %td
                    %table
                      %tr
                        %td
                          = link_to 'RSVP', rsvp_meetup_url(@meetup)
            %th.expander
= render partial: 'footer'
