= render partial: 'banner_with_text', locals: { text: 'Thanks for offering to help!' }
= render partial: 'photo', locals: { source: "https://s3.eu-west-2.amazonaws.com/wlcimages/organiser.jpeg" }
%br
%table.row
  %tbody
    %tr
      %th.small-12.large-12.columns.first.last
        %table
          %tr
            %th
              %b
                %h5
                  Hi
                  = succeed ',' do
                    = @user.name
              %p
                I really appreciate your interest in helping us organise WLC. I'm figuring out ways people can help with the meetup and I'll be in touch.
              %br/

              %h5 How can you help?
              %p
                Our main goal is to help make sure members are relaxed and enjoying themselves, especially the new and nervous ones. Everyone's nervous when they're new, and people are great at hiding it.
              %br
              %h5 But I'm not an entertainer?
              %p
                Doesn't matter! The best way to help people enjoy the meetup is to ask them questions about themselves, introduce them to people with shared interests, and help them if they need it. You don't have to have all the answers, just be willing and patient to help them find them.
              %br

              %h5 What else can I do?
              %p
                We need sponsors willing provide us with space (and ideally food). We don't have to meet on a Saturday but that's our favourite day, and it's what we're used to.

              %p
                We're a bit limited to West London venues for obvious reasons, but it's ok to have joint meetups with other organisers across London and beyond - kind of like a big WLC day out.
              %br

              %h5 What can I do online?
              %p
                Help keep Slack active, contribute to hackroom projects and help out with the site. These are all things people can do to be involved and help make the meetup even better.
              %br

              %hr
              %p
                Thanks again for being a proactive part of the meetup!
                %br
                Steve Brewer
            %th.expander
= render partial: 'footer'
