!!! Strict
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width", :name => "viewport"}
    = render partial: 'shared/email_styles'
  %body
    %table.body
      %tr
        %td.center{:align => "center", :valign => "top"}
          %center{"data-parsed" => ""}
            %table.container.text-center
              %tbody
                %tr
                  %td
                    / This container adds the grey gap at the top of the email
                    %table.row.grey
                      %tbody
                        %tr
                          %th.small-12.large-12.columns.first.last
                            %table
                              %tr
                                %th
                                   
                                %th.expander
            %table.container.text-center
              %tbody
                %tr
                  %td
                    / This container is the main email content
                    %table.row
                      %tbody
                        %tr
                          / Logo
                          %th.small-12.large-12.columns.first.last
                            %table
                              %tr
                                %th
                                  %center{"data-parsed" => ""}
                                    %a.text-center{:align => "center", :href => "http://www.westlondoncoders.com"}
                                      %img.swu-logo{:src => "https://s3.eu-west-2.amazonaws.com/wlcimages/logo-long.png"}/
                                %th.expander
                    %table.row
                      %tbody
                        %tr
                          / main Email content
                          %th.small-12.large-12.columns.first.last
                            %table
                              %tr
                                %th
                                  %b
                                    %br
                                    %h4.text-center= @meetup.name
                                    %h5.text-center= @meetup.date.to_formatted_s(:long_ordinal)
                                    .text-center{style: "max-width: 200px; margin: 0 auto;"}= image_tag @meetup.sponsor.logo
                    %table.row.masthead
                      %tbody
                        %tr
                          / Masthead
                          %th.small-12.large-12.columns.first.last.full-size{ style: 'padding: 0;' }
                            %table
                              %tr
                                %th
                                  %img.text-center{style: 'width: 100%;', :align => "center", :src => "https://s3.eu-west-2.amazonaws.com/wlcimages/7EB407FC-6FC5-4198-A76A-47C13DAC6CBF+copy.jpg", :valign => "bottom"}
                                %th.expander
                    %table.row
                      %tbody
                        %tr
                          / This container adds the gap between masthead and digest content
                          %th.small-12.large-12.columns.first.last
                            %table
                              %tr
                                %th
                                   
                                %th.expander
                    %table.row
                      %tbody
                        %tr
                          / main Email content
                          %th.small-12.large-12.columns.first.last
                            %table
                              %tr
                                %th
                                  %b
                                    %p
                                      Hi
                                      = succeed ',' do
                                        = @user.name
                                  %p
                                    Your spot's confirmed at West London Coders:
                                    = succeed '.' do
                                      = @meetup.name
                                    It's a good idea to bring a laptop, but not essential if you can't.
                                  %br/
                                  %h5 Where is the meetup?
                                  %p
                                    = link_to "http://maps.google.com/?q=#{strip_tags @meetup.sponsor.address}" do
                                      = sanitize @meetup.sponsor.address

                                  %br
                                  %h5 What shall I do now?
                                  %p
                                    Add some languages to your profile, and you'll appear on the
                                    = succeed ',' do
                                      = link_to 'language pages', languages_url
                                    making it easier for others to spot you and find people with common interests. It'll also help us plan the day.
                                  %p
                                    Why not join a
                                    = link_to 'hackroom', hackrooms_url
                                    now and start learning, discussing and practicing code on Slack?
                                  %br/
                                  %table.button.swu-button
                                    %tr
                                      %td
                                        %table
                                          %tr
                                            %td
                                              = link_to 'Join a hackroom', hackrooms_url
                                  %p
                                    = link_to meetup_url(@meetup) do
                                      Update your RSVP
                                    at any time
                                %th.expander
                    %table.row
                      %tbody
                        %tr
                          / This container adds whitespace gap at the bottom of main content
                          %th.small-12.large-12.columns.first.last
                            %table
                              %tr
                                %th
                                   
                                %th.expander
            / end main email content
            %table.container.text-center
              %tbody
                %tr
                  %td
                    / footer
                    %table.row.grey
                      %tbody
                        %tr
                          %th.small-12.large-12.columns.first.last
                            %table
                              %tr
                                %th
                                  %p.text-center.footercopy{style: 'color: #fff' }
                                    WLC is organised and run by a group of volunteers
                                    %br
                                    If you'd like to sponsor us or organise a meetup with us, please
                                    = succeed '.' do
                                      = mail_to "steve.v.brewer@gmail.com", "contact us"
                                %th.expander
