= render partial: 'meetup_with_dates', locals: { meetup: @meetup }
= render partial: 'photo', locals: { source: "https://s3.eu-west-2.amazonaws.com/wlcimages/7EB407FC-6FC5-4198-A76A-47C13DAC6CBF+copy.jpg" }
%br
%table.row
  %tbody
    %tr
      %th.small-12.large-12.columns.first.last
        %table
          %tr
            %th
              %b
                %h5
                  Hi
                  = succeed ',' do
                    = @user.name
              %p
                Your spot's confirmed at West London Coders:
                = succeed '.' do
                  = @meetup.name
                It's a good idea to bring a laptop, but not essential if you can't.
              %br/
              %h5 Where is the meetup?
              %p
                = link_to "http://maps.google.com/?q=#{strip_tags @meetup.sponsor.address}" do
                  = sanitize @meetup.sponsor.address

              %br
              %h5 What shall I do now?
              %p
                Add some languages to your profile, and you'll appear on the
                = succeed ',' do
                  = link_to 'language pages', languages_url
                making it easier for others to spot you and find people with common interests. It'll also help us plan the day.
              %p
                Why not join a
                = link_to 'hackroom', hackrooms_url
                now and start learning, discussing and practicing code on Slack?
              %br/
              %table.button.swu-button
                %tr
                  %td
                    %table
                      %tr
                        %td
                          = link_to 'Join a hackroom', hackrooms_url
              %p
                = link_to meetup_url(@meetup) do
                  Update your RSVP
                at any time
            %th.expander
= render partial: 'footer'
