= render partial: 'meetup_with_dates', locals: { meetup: @meetup }
= render partial: 'photo', locals: { source: "https://s3.eu-west-2.amazonaws.com/wlcimages/7EB407FC-6FC5-4198-A76A-47C13DAC6CBF+copy.jpg" }
%br
%table.row
  %tbody
    %tr
      %th.small-12.large-12.columns.first.last
        %table
          %tr
            %th
              %b
                %h5
                  Hi
                  = succeed ',' do
                    = @user.name
              %p
                We've updated your RSVP and you're no longer on the list for the meetup.
                If you change your mind, you can always
                = succeed '.' do
                  = link_to 'RSVP again', meetup_url(@meetup)
              %br/
              %h5 Want to come to other meetups?
              %p
                Don't forget to check the
                = link_to meetups_url do
                  meetups page
                for new meetups.
              %br
              %table.button.swu-button
                %tr
                  %td
                    %table
                      %tr
                        %td
                          = link_to 'Meetups', meetups_url
            %th.expander
= render partial: 'footer'
