= render partial: 'banner_with_text', locals: { text: 'Welcome!' }
= render partial: 'photo', locals: { source: "https://s3.eu-west-2.amazonaws.com/wlcimages/welcome_header.jpg" }
%br
%table.row
  %tbody
    %tr
      %th.small-12.large-12.columns.first.last
        %table
          %tr
            %th
              %b
                %h5
                  Hi,
                  = succeed '!' do
                    = @user.name
              %p
                We're glad you've joined us! You now have a
                = succeed ',' do
                  = link_to 'profile', user_url(@user)
                which you can use to help other members get to know you.
              %br/
              %h5 How do you like to code?
              %p
                Add some languages to your profile and you'll appear on the
                = succeed ',' do
                  = link_to 'language pages', languages_url
                making it easier for others to spot you and find people with common interests.
              %br/
              %h5 Ready to get involved?
              %p
                Why not join a
                = link_to 'hackroom', hackrooms_url
                and start learning, discussing and practicing code with like-mind folk?
              %br/
              %table.button.swu-button
                %tr
                  %td
                    %table
                      %tr
                        %td
                          = link_to 'Join a hackroom', hackrooms_url
            %th.expander
= render partial: 'footer'
