- set_page_title("Editing language")

.a-page-holder
  .m-post-editor
    = form_for @language do |f|
      .m-post-editor__title
        %h1= f.text_field :name, placeholder: "Ruby"

      %section.a-section
        .a-content
          %h2 Description
          = f.trix_editor :description

      .u-margin-top
        .m-post-editor__submit
          = link_to "Delete language", @language, method: :delete, data: { confirm: 'Delete language?' }, class: 'a-button a-button--ghost' if user_is_admin
          .u-float-right
            - if current_page?('/languages/new')
              = link_to "Cancel", languages_path, class: 'a-button a-button--ghost u-right'
            - else
              = link_to "Cancel", language_path(@language), class: 'a-button a-button--ghost u-right'
            = f.submit 'Save', class: 'a-button u-right'
