- if language.primary_hackrooms.any? || language.hackrooms.any?
  - if language.primary_hackrooms.any?
    %h2
      Hackrooms focused on
      = language.name
    %ul
      = render partial: 'shared/hackroom_list', locals: { source: language.primary_hackrooms }

  - if language.hackrooms.any?
    %h2
      Hackrooms involving some
      = language.name
    %ul
      - if language.hackrooms.any?
        = render partial: 'shared/hackroom_list', locals: { source: language.hackrooms }
- else
  %p
    There are no hackrooms using
    = language.name
    yet.
    Want to start one? Contact
    = succeed '.' do
      = link_to "Steve", user_path(1)
