.a-highlights
  .a-highlight{style: "border-right: solid 2px #{language.colour}"}
    %i.fa.fa-wrench
    = primary_count(language.primary_hackrooms)

  .a-highlight{style: "border-right: solid 2px #{language.colour}"}
    %i.fa.fa-wrench
    = secondary_count(language.hackrooms)

  .a-highlight{style: "border-right: solid 2px #{language.colour}"}
    %i.fa.fa-group
    = language_fans(language)
