.m-hackroom-list
  - @languages.each do |language|
    .m-hackroom-list__hackroom
      = link_to language do
        %h1.a-paint-border-bottom{class: ("a-paint-border-bottom--#{language.id}")}= language.name

      .m-languages__hackrooms
        = render partial: 'hackrooms', locals: { language: language }

      .m-languages__people
        %h2
          People using
          = language.name
        - if language.users.any?
          .m-hackroom__members
            - language.users.each do |user|
              = render partial: 'shared/user_tag', locals: { user: user }
        - else
          %p
            Nobody has added this language yet.
            - if current_user
              Add
              = language.name
              to your
              = succeed '.' do
                = link_to 'profile', edit_user_path(current_user)
      .u-right
        = link_to "View", language, class: 'a-button'
