.m-grid
  - @languages.each do |language|
    .m-grid__box
      %h1.u-center= link_to language.name, language, style: "border-bottom: solid 2px #{language.colour}"
      = render partial: 'highlights', locals: { language: language }

      = excerpt(language.description) if language.description

      .a-identities.a-tags--center
        - language.all_users.take(10).each do |user|
          = render partial: 'shared/user_tag', locals: { user: user, image_only: true }


      .m-grid__bottom.u-center
        %p.u-center
          See the people and projects using
          = language.name
        = link_to "See more", language, class: 'a-button'
