.m-hackroom-list
  - @languages.each do |language|
    .m-hackroom-list__hackroom
      = link_to language do
        %h1.a-paint-border-bottom{class: ("a-paint-border-bottom--#{language.id}")}= language.name

      .m-languages__hackrooms
        = render partial: 'hackrooms', locals: { language: language }

      - if language.primary_users.any?
        .m-languages__people
          %h2
            = pluralize(language.primary_users.count, "person")
            using
            = language.name
          - if language.primary_users.any?
            .m-hackroom__members
              - language.primary_users.take(10).each do |user|
                = render partial: 'shared/user_tag', locals: { user: user }
      - else
        %p
          Nobody is focusing on
          = language.name
          at the moment.
          - if current_user
            Add it to your
            = succeed '.' do
              = link_to 'profile', edit_user_path(current_user)
      .u-right
        = link_to "View", language, class: 'a-button'
