.m-languages
  - @languages.each do |language|
    .m-languages__language
      = link_to language do
        %h1.m-languages__language--default{class: "m-languages__language--#{language.id}"}= language.name

      .m-languages__hackrooms
        = render partial: 'hackrooms', locals: { language: language }

      .m-languages__people
        %h2
          People using
          = language.name
        - if language.users.any?
          .m-hackroom__members
            - language.users.each do |user|
              = render partial: 'shared/user_tag', locals: { user: user }
        - else
          Nobody has added this language yet.
          - if current_user
            Add
            = language.name
            to your
            = succeed '.' do
              = link_to 'profile', edit_user_path(current_user)
      .u-right
        = link_to "View", language, class: 'a-button'
