.m-grid
  - @languages.each do |language|
    .m-grid__box
      %h1.u-center= link_to language.name, language, style: "border-bottom: solid 2px #{language.colour}"
      = render partial: 'highlights', locals: { language: language }

      = excerpt(language.description)

      %p.u-center
        See the people and projects using
        = language.name

      .m-grid__bottom.u-center
        = link_to "See more", language, class: 'a-button'
