- set_page_title("Languages")

.m-hackroom

  %section.a-section
    .a-content--xwide.a-content--tight

      %h1.u-center
        #language-search-heading
          = render 'heading'

      = render partial: 'filter'
      = render partial: 'sort'

  - if user_is_admin
    %section.a-section.u-margin-top--mobile
      .a-content.u-center
        = link_to "Add language", new_language_path, class: 'a-button a-button--edit'

  %section.a-section
    .a-content

      #language-search-results
        = render 'results'
