- set_page_title(@language.name)

.a-page-holder

  - if current_user && current_user.has_role?(:admin)
    %section.a-section.u-margin-top--mobile
      .a-content.u-center
        = link_to "Edit language", edit_language_path(@language), class: "a-button a-button--edit"

  %section.a-section
    .a-content
      %h1.a-paint-border-bottom{ style: "border-bottom: solid 2px #{@language.colour}"}= @language.name

      = sanitize @language.description

      = render partial: 'hackrooms', locals: { language: @language }

      %h2
        = pluralize(@language.primary_users.count, "person")
        primarily using
        = @language.name

      - if @language.primary_users.any?
        .a-identities
          - @language.primary_users.each do |user|
            = render partial: 'shared/user_tag', locals: { user: user }

      - else
        = render partial: 'shared/add_to_your_profile', locals: { this: @language.name }

        %h2
          = pluralize(@language.users.count, "person")
          using
          = @language.name
          a little

        - if @language.users.any?
          .a-identities
            - @language.users.each do |user|
              = render partial: 'shared/user_tag', locals: { user: user }

        - else
          = render partial: 'shared/add_to_your_profile', locals: { this: @language.name }
