- set_page_title(@language.name)

.u-margin-top--desktop

.a-page-holder

  - if current_user
    - if can? :manage, @language
      %section.a-section.u-margin-top--mobile
        .a-content.u-center
          = link_to "Edit language", edit_language_path(@language), class: "a-button a-button--edit"

  %section.a-section
    .a-content
      .m-languages
        .m-languages__language
          %h1.u-center.m-languages__language--default{class: "m-languages__language--#{@language.id}"}= @language.name

          - if @language.description
            .m-languages__description
              = sanitize @language.description

          .m-languages__hackrooms
            = render partial: 'hackrooms', locals: { language: @language }

          .m-languages__people
            %h2
              People using
              = @language.name

            %h3 Seriously
            - if @language.primary_users.any?
              .m-hackroom__members
                - @language.primary_users.each do |user|
                  = render partial: 'shared/user_tag', locals: { user: user }
            - else
              Nobody is serious about
              = @language.name
              yet.
              - if current_user
                Add
                = @language.name
                to your
                = succeed '.' do
                  = link_to 'profile', edit_user_path(current_user)
            %h3
              Less seriously...
            - if @language.users.any?
              .m-hackroom__members
                - @language.users.each do |user|
                  = render partial: 'shared/user_tag', locals: { user: user }
            - else
              Nobody is taking
              = @language.name
              less seriously yet.
              - if current_user
                Add it to your
                = succeed '.' do
                  = link_to 'profile', edit_user_path(current_user)
