- set_page_title(@language.name)
.m-profile
  = render partial: 'sidebar'

  .m-profile__content
    = render partial: 'language_nav', locals: { selected: 'likes' }

    .m-profile__current-content
      .m-profile__grid
        - @language.all_users.each do |user|
          = link_to user do
            = image_tag(avatar_url(user), class: 'a-avatar a-avatar--small a-avatar--square', style: "border: solid 2px #{user.colour}")
