:ruby
  trigger = notification.notified_by
  target = notification.user
  subject = notification.notifiable
  action = notification.action

%i.fa.fa-comment-o.u-notification-icon
= link_to trigger.label, trigger
= action
= "in a"
= link_to 'comment', post_path(subject.commentable, anchor: "comment-#{subject.id}")
