%p{class: ('s-navbar__notification--unread' unless notification.read)}

  - if notification.about_new_follow?
    = render partial: 'notifications/new_follow', locals: { notification: notification }

  - elsif notification.about_reply_to_your_comment?
    = render partial: 'notifications/replied_to_your_comment', locals: { notification: notification }

  - elsif notification.about_comment_on_your_thing?
    = render partial: 'notifications/comment_on_your_thing', locals: { notification: notification }

  - elsif notification.about_new_meetup?
    = render partial: 'notifications/new_meetup_scheduled', locals: { notification: notification }

  %br
  %span.u-small-text
    = time_as_sentence(notification.created_at)
%hr.u-blue-line--thin
