%p
  %strong= link_to notification.notified_by.label, notification.notified_by
  = notification.action
  - if notification.notifiable_type == 'User'
    you
  - elsif notification.notifiable_type == 'Comment'
    = link_to notification.notifiable.description, post_path(notification.notifiable.commentable, anchor: "comment-#{notification.notifiable.id}")
  - elsif notification.notifiable_type == 'Post'
    = notification.notifiable_type.downcase
    = link_to notification.notifiable.title, notification.notifiable
  - elsif notification.notifiable_type == 'Event'
    = link_to "#{notification.notifiable.start_date}", notification.notifiable
  %br
  %span.u-small-text
    = time_as_sentence(notification.created_at)
%hr.u-blue-line--thin
