:ruby
  trigger = notification.notified_by
  target = notification.user
  subject = notification.notifiable
  action = notification.action
- if action == 'liked'
  %i.fa.fa-thumbs-up.u-notification-icon
- else
  %i.fa.fa-comment-o.u-notification-icon

= link_to trigger.label, trigger
= action
= link_to 'your comment', path_to_comment(notification.notifiable)
- if subject.commentable_type == 'Comment'
  = "on '#{subject.commentable.commentable.title}'"
- else
  = "on '#{subject.commentable.title}'"
