%section.a-section
  .a-content
    - if user.hackrooms.any? || user.own_hackrooms.any?

      - if user.own_hackrooms.any?
        %h2
          Organising
          = succeed ':' do
            = pluralize(user.own_hackrooms.count, "hackroom")
        = render partial: 'shared/hackroom_list', locals: { source: user.own_hackrooms }

      - if user.hackrooms.any?
        %h2
          Involved in
          = succeed ':' do
            = pluralize(user.hackrooms.count, "hackroom")
        = render partial: 'shared/hackroom_list', locals: { source: user.hackrooms }

