- if user.events.upcoming.any?
  %section.a-section
    .a-content
      %h2
        Attending
        = succeed ':' do
          = pluralize(user.events.size, 'upcoming meetup')
      - user.events.each do |event|
        %p
          = link_to event do
            = event.name
            %br
            = "At #{event.sponsor.name}"
            %br
            = "On #{event.date.to_date.to_formatted_s(:long_ordinal)}"
