- set_page_title("Edit profile")

= form_for @user do |f|
  .m-profile
    %section.a-section
      .a-content.m-profile__header
        = image_tag(avatar_url(@user), class: 'm-profile__image')
        .m-profile__header-text
          %h1.m-profile__name
            = f.text_field :name, placeholder: "What's your name?"
          %h3.m-profile__title
            = f.text_field :job_title, placeholder: "Tagline"

    %section.a-section
      .a-content.m-profile__bio
        = f.label :bio, 'Bio'
        = f.text_area :bio, class: 'm-profile__text-input', placeholder: "Try and think of something unique that others will remember you by."

    %section.a-section
      .a-content
        .m-profile__details
          .m-profile__links.m-profile__links--form
            .m-profile__links--field
              %i.fa.fa-twitter
              = f.text_field :twitter, placeholder: 'westlondoncode'
            .m-profile__links--field
              %i.fa.fa-instagram
              = f.text_field :instagram, placeholder: 'westlondoncode'
            .m-profile__links--field
              %i.fa.fa-github
              = f.text_field :github, placeholder: 'westlondoncoders'
            .m-profile__links--field
              %i.fa.fa-facebook-official
              = f.text_field :facebook, placeholder: 'westlondoncoders'
            .m-profile__links--field
              %i.fa.fa-linkedin
              = f.text_field :linkedin, placeholder: 'westlondoncoders'
            .m-profile__links--field
              %i.fa.fa-link
              = f.text_field :website_url, placeholder: 'westlondoncoders.com'

    %section.a-section
      .a-content
        .m-profile__form-buttons
          %a.a-button.a-button--ghost{href: user_path} Cancel
          = f.submit 'Save changes', class: 'a-button'
