- set_page_title("My Interests")

= form_for @user do |f|
  %section.a-section
    .a-content
      %h1 Interests
      .a-tags
        = f.fields_for :interests do |interest|
          .nested-fields
            .field.a-tags--form
              - if interest.object.persisted?
                %h1.a-tag.a-tag--interest
                  = interest.object.name
                  = link_to_remove_association "x", interest, class: 'a-tag--remove'
              - else
                = interest.text_field :name
      .links
        = link_to_add_association 'Add', f, :interests, class: 'a-button a-button--ghost', id: 'js-add'

  %section.a-section
    .a-content
      .m-profile__form-buttons
        %a.a-button.a-button--ghost{href: user_path} Cancel
        = f.submit 'Save changes', class: 'a-button'
