- set_page_title("Edit profile")

.m-profile.m-profile--edit
  = form_for @user do |f|
    %section.a-section
      .a-content
        .m-profile__header
          .m-profile__image
            = image_tag(avatar_url(@user), class: 'm-profile__image')
          .m-profile__header-text
            %h1
              = f.text_field :name, placeholder: "What's your name?"
            %h3
              = f.text_field :job_title, placeholder: "Tagline"

        .m-profile__image-upload
          = f.file_field :image

    %section.a-section
      .a-content.m-hackroom__languages
        %h2 Languages you'd like to participate in hackrooms with
        = f.select :language_ids, language_options_for_select(Language.all, f.object.language_ids), { label: 'Languages', include_blank: true }, multiple: true

    %section.a-section
      .a-content
        %h2 Links
        .m-profile__links
          .m-profile__links--field
            %i.fa.fa-twitter
            = f.text_field :twitter, placeholder: '@username'
          .m-profile__links--field
            %i.fa.fa-instagram
            = f.text_field :instagram, placeholder: '@username'
          .m-profile__links--field
            %i.fa.fa-github
            = f.text_field :github, placeholder: 'username'
          .m-profile__links--field
            %i.fa.fa-facebook-official
            = f.text_field :facebook, placeholder: 'username'
          .m-profile__links--field
            %i.fa.fa-linkedin
            = f.text_field :linkedin, placeholder: 'username'
          .m-profile__links--field
            %i.fa.fa-link
            = f.text_field :website_url, placeholder: 'website.com'

    %section.a-section
      .a-content
        %h2 Bio
        = f.trix_editor :bio, placeholder: "Try and think of something unique that others will remember you by."

    %section.a-section
      .a-content
        .m-profile__company
          %h2 Logo
          .m-profile__logo
            = link_to @user.logo_link, target: "_blank" do
              = image_tag(@user.logo)
          = f.file_field :logo
          %br
          %p Logo link
          = f.text_field :logo_link, class: 'm-profile__wide-field', placeholder: "https://westlondoncoders.com"

    %section.a-section
      .a-content.u-center
        %a.a-button.a-button--ghost{href: user_path} Cancel
        = f.submit 'Save changes', class: 'a-button'
