- set_page_title("Members")

%section.a-section.a-section--foot
  .a-content

    = render partial: 'shared/people_tabs'

    %h1.u-center
      #user-search-heading
        = render 'heading'

    = render partial: 'filter'
    = render partial: 'sort'

    #user-search-results
      = render 'results'
