- set_page_title(@user.name || "Profile")

.u-margin-top--desktop

- if user_is_owner_or_admin
  %section.a-section.u-margin-top
    .a-content.u-center
      = link_to "Edit profile", edit_user_path(@user), class: 'a-button  a-button--edit'

.m-profile
  %section.a-section
    .a-content
      = render partial: 'shared/user_strip', locals: { user: @user, show_logo: true }

      .m-profile__bio
        = sanitize @user.bio

  = render partial: 'language_list'

  = render partial: 'hackrooms', locals: { user: @user }

  - if @user.interests.any?
    %section.a-section
      .a-content
        %h1
          Interests
          - if user_is_owner_or_admin
            %a.m-profile__pencil{href: edit_interests_path(@user)}
              %i.a-icon-after-text.fa.fa-pencil
          - if @user.interests.any?
            .a-tags
              - @user.interests.each do |interest|
                %h2.a-tag.a-tag--interest= interest.name

  - if @user.skills.any?
    %section.a-section
      .a-content.black-link
        %h1
          Skills
          - if user_is_owner_or_admin
            %a.m-profile__pencil{href: edit_skills_path(@user)}
              %i.a-icon-after-text.fa.fa-pencil

          .a-tags
            - @user.skills.each do |skill|
              %h2.a-tag.a-tag--skill= skill.name

  - if user_is_owner_or_admin
    .u-center
      - if @user.interests.empty?
        .m-profile__add-interests
          %a.a-button--pink.a-tag.a-tag--interest{href: edit_interests_path(@user)} Add some interests
      - if @user.skills.empty?
        .m-profile__add-skills
          %a.a-button--light.a-tag.a-tag--skill{href: edit_skills_path(@user)} Add some skills

  - if @posts.any?
    %section.a-section
      .a-content
        .m-blog
          %h1 Posts
          - @posts.each do |post|
            = render partial: 'shared/posts', locals: {post: post}
