- set_page_title(@user.name)
.m-profile

  = render partial: 'sidebar'

  .m-profile__content
    = render partial: 'profile_nav', locals: { selected: 'languages' }

    .m-profile__current-content
      .m-profile__grid
        - @user.primary_languages.each do |language|
          = link_to language do
            = image_tag(language_avatar_url(language), title: language.name, class: 'a-avatar a-avatar--small a-avatar--square', style: "border: solid 2px #{language.colour}")
      .m-profile__grid
        - @user.languages.each do |language|
          = link_to language do
            = image_tag(language_avatar_url(language), class: 'a-avatar a-avatar--small a-avatar--square', style: "border: solid 2px #{language.colour}")
      .m-profile__grid
        - Language.all.each do |language|
          - unless @user.primary_languages.include?(language) || @user.languages.include?(language)
            = link_to language do
              = image_tag(language_avatar_url(language), class: 'a-avatar a-avatar--small a-avatar--greyscale a-avatar--square', style: "border: solid 2px #a2a2a0")
