- set_page_title(@user.name)
.a-page-holder
  .m-billboard
    .m-billboard__container
      .m-billboard__container-left
        %h1.m-billboard__title= @user.name
        = sanitize @user.tagline
        .m-billboard__description= sanitize @user.bio

      .m-billboard__container-right
        .a-avatar= image_tag(avatar_url(@user), class: 'a-avatar')

    #follower_count[@user]= render partial: 'shared/follow_link', locals: { user: @user, user_list: true }
    .u-interval= render partial: 'highlights', locals: { user: @user }
    .u-interval= render partial: 'social_links', locals: { user: @user }

    .u-float-right= link_to 'Edit', edit_user_path(@user), class: 'a-button' if can? :manage, @user

    .m-billboard__nav= render partial: 'profile_nav', locals: { user: @user }

  %section.a-section
    .a-content--xwide.u-margin-top#profile-content= render partial: 'shared/languages', locals: { languages: @user.all_languages }

  .u-margin-bottom
