:ruby
  delete_link ||= nil
  follow_link ||= nil

%div.m-comment{id: "comment-#{comment.id}"}
  %li.m-comment__header
    = render partial: 'shared/user_tag', locals: { user: comment.author, with_date: true, date: comment.created_at }

    .u-small-text
      - if follow_link
        = render partial: 'shared/follow_link_text', locals: { user: comment.author } if current_user
      - else
        = link_to 'See comment', comment.comment_path

  .m-comment__content
    = sanitize comment.body

  .m-comment__footer
    .m-comment__actions.u-small-text
      .m-comment__action
        %div{id: "like-link-#{comment.id}"}= render partial: 'shared/like_link', locals: { likeable: comment }

      - if can? :update, comment
        - if delete_link
          .m-comment__action
            = link_to hide_comment_path(comment), remote: true do
              Delete

    .u-small-text= linked_reply_count(comment) unless comment.has_no_replies

