- comments.each do |comment|
  %div{id: "comment-#{comment.id}"}
    %li.m-comment.m-comment--delete
      = render partial: 'shared/user_tag', locals: { user: comment.author, with_date: true, date: comment.created_at }
      .u-small-text= render partial: 'shared/follow_link_text', locals: { user: comment.author } if current_user
      - if can? :update, comment
        = link_to hide_comment_path(comment), remote: true do
          %i.fa.fa-trash

    .m-comment__content
      = comment.body
      .u-right= linked_reply_count(comment) unless comment.has_no_replies

      .m-comment__replies#comment-replies
        = render partial: 'shared/replies', locals: { comment: comment }
