%section
  .a-content
    .m-comments
      %h2
        Comments
        %i.fa.fa-comment-o

      - if current_user
        .m-comment__new
          = form_for [commentable, commentable.comments.new], class: 'js-remote-form', remote: true do |f|
            = f.text_field :body, class: 'js-remote-text-field', autocomplete: :off, placeholder: "Write a comment..."
            = hidden_field_tag :authenticity_token, form_authenticity_token
            .hide-if-js.u-float-right= f.submit 'Post', class: 'a-button'
      - else
        .a-prompt
          %p
            Sign in with GitHub to comment
            %br
            = link_to user_github_omniauth_authorize_path, class: 'a-button a-button--small' do
              %i.fa.fa-github
              Sign in

      %ul.m-comments__feed#comments-list
        = render partial: 'shared/comment_feed', locals: { comments: commentable.comments.published.most_recent_first }
