.a-content--xwide
  .m-grid
    - events.each do |event|
      .m-grid__box
        = link_to event_path(event) do
          %h1= event.name
          = image_tag event.sponsor.logo, class: 'm-grid__logo'
          .m-grid__meta
            %h3.u-left
              = event.date.to_date.to_formatted_s(:long_ordinal)
              %br
              = event.date.strftime("%l:%M%P")
              - if event.finish_date.present?
                = ' - '
                = event.finish_date.strftime("%l:%M%P")
              %br
              = time_as_sentence(event.date)

            .u-right
              = render partial: 'events/rsvp_button', locals: { event: event }

