.m-grid
  - hackrooms.each do |hackroom|
    .m-grid__box
      %h1.u-center= link_to hackroom.name, hackroom_path(hackroom), style: "border-bottom: solid 2px #{hackroom.primary_languages&.first&.colour}"

      = render partial: 'hackrooms/highlights', locals: { hackroom: hackroom }

      = excerpt(hackroom.mission)

      - if hackroom.primary_languages.any?
        .a-tags.a-tags--center
          - hackroom.primary_languages.each do |language|
            = link_to language.name, language, class: "a-tag", style: "background-color: #{language.colour}"

      - if hackroom.all_members.any?
        %h2.u-margin-top.u-center= pluralize(hackroom.all_members.count, "member")
        .a-identities.a-tags--center
          - hackroom.all_members.take(4).each do |user|
            = render partial: 'shared/user_tag', locals: { user: user, image_only: true }

      .m-grid__bottom.u-center
        = link_to "See more", hackroom, class: 'a-button a-button--elastic'
