.m-grid
  - hackrooms.each do |hackroom|
    .m-grid__box
      .m-grid__banner{style: "background-color: #{hackroom.primary_languages.first.colour}"}
        %h1.a-headline= link_to hackroom.name, hackroom
      .m-grid__box-content
        = link_to image_tag(language_avatar_url(hackroom.primary_languages.first), class: 'a-avatar a-avatar--small', style: "border: solid 2px #{hackroom.primary_languages.first.colour}"), hackroom

        = link_to excerpt(hackroom.mission, 500), hackroom, class: 'u-unlink' if hackroom.mission
