.m-grid
  - languages.each do |language|
    .m-grid__box
      = link_to language do
        .m-grid__banner{style: "background-color: #{language.colour}"}
          %h1.a-headline= link_to language.name, language
        .m-grid__box-content
          = link_to image_tag(language_avatar_url(language), class: 'a-avatar a-avatar--small', style: "border: solid 2px #{language.colour}"), language

          = link_to excerpt(language.description), language, class: 'u-unlink' if language.description
