.m-grid
  - languages.each do |language|
    .m-grid__box
      .m-grid__banner{style: "background-color: #{language.colour}"}
        %h1.a-headline= link_to language.name, language
      .m-grid__box-content
        = image_tag(language_avatar_url(language), class: 'a-avatar a-avatar--small')

        = render partial: 'languages/highlights', locals: { language: language }

        = excerpt(language.description) if language.description

        .u-margin-top--small.u-right
          = link_to "See more", language, class: 'a-button'
