.a-content--xwide
  .m-grid
    - meetups.each do |meetup|
      .m-grid__box
        .m-grid__box-content
          = link_to meetup_path(meetup) do
            %h1= meetup.name
            = image_tag meetup.sponsor.logo, class: 'm-grid__logo'
            .m-grid__meta
              %h3.u-left
                = meetup.start_date
                %br
                = meetup.date.strftime("%l:%M%P")
                - if meetup.finish_date.present?
                  = ' - '
                  = meetup.finish_date.strftime("%l:%M%P")
                %br
                = time_as_sentence(meetup.date)

              .u-right
                = render partial: 'meetups/rsvp_button', locals: { meetup: meetup }

