.m-grid--three
  - users.each do |user|
    .m-grid__box
      .m-grid__banner{style: "background-color: #{user.colour}"}
      .m-grid__box-content
        = image_tag(avatar_url(user), class: 'a-avatar a-avatar--small', style: "border: solid 2px #{user.colour}")

        %h2
          = link_to user.name, user
          %br
          .u-small-text= user.tagline

        = render partial: 'users/social_links', locals: { user: user }

        - if user.primary_languages.any?
          .a-tags
            - user.primary_languages.take(4).each do |language|
              = link_to language do
                %h2.a-tag{style: "background-color: #{language.colour}"}= language.name
