.a-content--xwide
  .m-grid
    - posts.each do |post|
      .m-grid__box
        .m-grid__box-content
          %h1= link_to post.title, post_path(post)

          .u-margin-bottom--small= render partial: 'shared/user_tag', locals: { user: post.created_by, with_date: true, date: post.created_at }

          .m-grid__text= excerpt(post.content, 500)

          .a-tags
            - post.tags.each do |tag|
              %h2.a-tag.a-tag--light-blue= tag.name

          .m-grid__bottom.u-right.u-margin-top--small
            = link_to "Read", post, class: 'a-button'
