.m-user-list
  - source.each do |user|
    .m-user-list__person
      = link_to user_path(user) do
        - if user.image
          = image_tag user.image, class: 'm-user-list__image'
        - else
          = image_tag "avatar.png", class: 'm-user-list__image'
      .m-user-list__details.black-link
        = link_to user_path(user) do
          %h1= user.name
        - if user.job_title
          = user.job_title
