.m-grid
  - events.each do |event|
    .m-grid__box
      = link_to event_path(event) do
        %h3.u-float-left
          = time_as_sentence(event.date)
        %h3.u-right
          =event.date.to_date.to_formatted_s(:long)
          %br
          = default_times

        %h1
          = event.name

      = simple_format(truncate(sanitize(event.description), length: 200, escape: false, omission: '...'))

      - if event.rsvps.any?
        .a-tags
          - event.languages.take(4).each do |language|
            = render partial: 'shared/language_tag', locals: { language: language }

      .u-margin-top
        %h3.u-float-left
          = pluralize(event.rsvps.count, "member")
          = event.date.past? ? "attended" : "attending"
        .u-float-right
          = link_to "View", event, class: 'a-button a-button--elastic'
