- set_page_title(@event.name)

.u-margin-top--desktop

.a-page-holder

  - if can? :manage, @event
    %section.a-section.u-margin-top--mobile
      .a-content.u-center
        = link_to "Edit event", edit_admin_event_path(@event), class: "a-button a-button--edit"

  %section.a-section.u-margin-top--mobile
    .a-content
      %h1.a-heading
        = @event.name
      %h3= @event.date.to_formatted_s(:long)

      .m-hackroom__mission
        = sanitize(@event.description)

    .a-content
      - if @event.rsvps.any?
        %h2 Who's coming?
        .m-hackroom__members
          - @event.rsvps.each do |rsvp|
            = render partial: 'shared/user_tag', locals: { user: rsvp }

    - if current_user
      .a-content.u-margin-top.u-right
        - if user_attending_event?(@event, current_user)
          = link_to 'Cancel your RSVP', unrsvp_event_path, class: 'a-button'
        - else
          = link_to 'RSVP', rsvp_event_path, class: 'a-button'
