- set_page_title(@event.name)

.a-page-holder

  - if can? :manage, @event
    %section.a-section.u-margin-top--mobile
      .a-content.u-center
        = link_to "Edit event", edit_admin_event_path(@event), class: "a-button a-button--edit"

  %section.a-section.a-section--separated.u-margin-top--mobile
    .a-content
      %h1.a-heading
        West London Coders meetup:
        %br
        = @event.name

      %h3
        = @event.date.to_date.to_formatted_s(:long_ordinal)
        = default_times
        %br
        = time_as_sentence(@event.date)

      .u-float-right--desktop.u-margin-bottom
        = link_to sponsor_path(@event.sponsor) do
          = image_tag(@event.sponsor.logo, class: 'a-logo')

      = link_to sanitize(@event.sponsor.address), "http://maps.google.com/?q=#{strip_tags @event.sponsor.address}", target: "_blank"

      .u-margin-top.u-center--mobile
        = render partial: 'rsvp_button'
      %h3.u-float-right--desktop.u-center--mobile.u-margin-bottom
        = pluralize(@event.rsvps.count, "member")
        = @event.date.past? ? "attended" : "attending"

  %section.a-section.u-margin-top--desktop
    .a-content
      - if @event.rsvps.any?
        .u-float-right--desktop.u-left.u-padding
          %h3.u-margin-bottom--none= @event.date.past? ? "Members who came like:" : "Members attending who like:"
          .a-tags
            - @event.languages.each do |language|
              = render partial: 'shared/language_tag', locals: { language: language }
      %h2 What's this meetup about?
      = sanitize(@event.description)

      - if @event.organisers.any?
        %h2 Organisers
        .a-identities
          - @event.organisers.each do |user|
            = render partial: 'shared/user_tag', locals: { user: user }

      - if @event.rsvps.any?
        .a-content
          %h2 Who's coming?
          .a-identities
            - @event.rsvps.each do |rsvp|
              = render partial: 'shared/user_tag', locals: { user: rsvp } unless rsvp.has_role?(:organiser)

      .u-center.u-margin-top= render partial: 'rsvp_button'
