- set_page_title(@event.name)

.a-page-holder

  - if can? :manage, @event
    %section.a-section.u-margin-top--mobile
      .a-content.u-center
        = link_to "Edit event", edit_admin_event_path(@event), class: "a-button a-button--edit"

  %section.a-section.u-margin-top--mobile
    .a-content
      %h1.a-heading
        West London Coders meetup:
        %br
        = @event.name

      .u-float-right= render partial: 'rsvp_button'

      %h3
        = @event.date.to_date.to_formatted_s(:long_ordinal)
        = default_times
        %br
        = time_as_sentence(@event.date)

      - if @event.rsvps.with_role("Organiser").any?
        %h3 Organisers
        - @event.rsvps.with_role("Organiser").each do |user|
          = render partial: 'shared/user_tag', locals: { user: user }

      - if @event.rsvps.any?
        %h3.u-margin-bottom--none= @event.date.past? ? "Members who came like:" : "Members attending like:"
        .a-tags
          - @event.rsvps.each do |user|
            - user.primary_languages.each do |language|
              = render partial: 'shared/language_tag', locals: { language: language }

      .m-hackroom__mission
        = sanitize(@event.description)

      - if @event.rsvps.any?
        .a-content
          %h2 Who's coming?
          .m-hackroom__members
            - @event.rsvps.each do |rsvp|
              = render partial: 'shared/user_tag', locals: { user: rsvp }

      .u-center.u-margin-top= render partial: 'rsvp_button'
