- set_page_title(@sponsor.name)

.a-page-holder

  - if can? :manage, @sponsor
    %section.a-section.u-margin-top--mobile
      .a-content.u-center
        = link_to "Edit sponsor", edit_admin_sponsor_path(@sponsor), class: "a-button a-button--edit"

  %section.a-section.u-margin-top--mobile
    .a-content
      %h1
        West London Coders Partner:
        %br
        = @sponsor.name

      .u-float-right= link_to image_tag(@sponsor.logo, class: 'a-logo'), @sponsor.link, target: '_blank'

      = link_to sanitize(@sponsor.address), "http://maps.google.com/?q=#{strip_tags @sponsor.address}", target: "_blank"

      - if @sponsor.users.any?
        %h3 Contacts
        .a-identities
          - @sponsor.users.each do |user|
            = render partial: 'shared/user_tag', locals: { user: user }

  - if @sponsor.description.present?
    %section.a-section
      .a-content
        %h2.u-margin-top
          = @sponsor.description_heading.present? ? @sponsor.description_heading : "What's it like at #{@sponsor.name}?"

        = sanitize(@sponsor.description)

        - if @sponsor.link.present?
          .u-center.u-margin-bottom.u-margin-top
            = link_to 'Find out more', @sponsor.link, target: '_blank', class: 'a-button'

  - if @sponsor.events.upcoming.any?
    %section.a-section
      .a-content
        %h3 Upcoming events
        - @sponsor.events.upcoming.take(3).each do |event|
          %p
            = link_to event_path(event) do
              = event.name
              %br
              = time_as_sentence(event.date)
              on
              = event.date.to_date.to_formatted_s(:long_ordinal)

  - if @sponsor.events.past.any?
    %section.a-section
      .a-content
        %h3 Past events
        - @sponsor.events.past.take(3).each do |event|
          %p
            = link_to event_path(event) do
              = event.name
              %br
              = time_as_sentence(event.date)
              on
              = event.date.to_date.to_formatted_s(:long_ordinal)
