%ul.m-comments__feed
  - @comments.from_posts.published.take(14).each do |comment|
    %li.m-comment.m-comment--delete
      = render partial: 'shared/user_tag', locals: { user: comment.author, with_date: true, date: comment.created_at }

    .m-comment__content
      = simple_format(truncate(comment.body, length: 250, escape: false, omission: '...', separator: '.'))

      .u-float-right
        - if comment.comments.any?
          = link_to pluralize(comment.comments.size, 'reply'), post_path(comment.commentable, anchor: "comment-#{comment.id}")
        - else
          = link_to 'Reply', post_path(comment.commentable, anchor: "comment-#{comment.id}")
