- set_page_title("Learn, discuss and practice code")

.m-hero--video
  = video_tag "video/gdg.mov", controls: false, autoplay: true, muted: true, loop: true, id: 'home-vid'
  %h1 Learn, discuss and practice code.

%section.a-section
  .a-content--wide
    .m-intro
      %h1.a-heading--large
        Join
        %span#next-meetup-count 20
        others at our next meetup
      %h2
        %span#next-meetup-date
        %span#next-meetup-venue-name
      %h3
        %span#next-meetup-venue
      #next-meetup-link
        %a.a-button{href: "https://www.meetup.com/West-London-Coders/"} RSVP

%section.a-section.a-section--img-block

%section.a-section
  .a-content--xwide
    .a-content--home
      .m-blog
        - @posts.take(4).each do |post|
          = render partial: 'shared/posts', locals: {post: post}
        .u-center
          %a.a-button{href: posts_path} More posts

      .m-comments
        %h2
          Latest comments
          %i.fa.fa-comment-o
        %ul.m-comments__feed
          - @comments.where(public: true).take(5).each do |comment|
            %li.m-comment.m-comment--delete
              .m-post__author
                .m-post__author-photo
                  = link_to image_tag(avatar_url(comment.author)), post_path(comment.commentable, anchor: "comment-#{comment.id}"), title: comment.author.name
                .m-post__meta
                  = link_to comment.author.name, post_path(comment.commentable, anchor: "comment-#{comment.id}")
                  %br
                  = time_ago_in_words(comment.created_at)
                  ago

            .m-comment__content
              = simple_format(truncate(comment.body, length: 250, escape: false, omission: '...', separator: '.'))

.m-hero--home
