- set_page_title("Learn, discuss and practice code")

.m-hero--video
  = video_tag "video/gdg.mov", controls: false, autoplay: true, muted: true, loop: true, id: 'home-vid'
  %h1#next-meetup-banner Learn, discuss and practice code.

- if @next_meeup && @next_meetup['venue']
  %section.a-section
    .a-content--wide
      .m-intro
        %h1.a-heading--large
          Join
          = @next_meetup['yes_rsvp_count']
          others at our next meetup
        %h2
          - seconds = (@next_meetup['time'].to_f / 1000).to_s
          - date = Date.strptime(seconds, '%s')
          = date.strftime("%A #{date.day.ordinalize} %B")
          at
          = @next_meetup['venue']['name']
        %h3
          = link_to "http://maps.google.com/?q=#{@next_meetup['venue']['address_1']}", target: '_blank' do
            = @next_meetup['venue']['address_1']

        = link_to 'RSVP', @next_meetup['link'], target: '_blank', class: 'a-button'

%section.a-section.m-intro
  %h3 Our partners
  .m-intro__logos.u-margin-bottom
    .m-intro__logo= link_to image_tag('https://s3.eu-west-2.amazonaws.com/westlondoncoders/site-assets/ynap.png'), 'http://www.ynap.com/', target: '_blank'
    .m-intro__logo= link_to image_tag('https://s3.eu-west-2.amazonaws.com//wlcavatars/uploads/sponsor/logo/3/treehouse.png'), 'http://treehouse.7eer.net/c/248218/228915/3944?subId1=wlc&u=https%3A%2F%2Fteamtreehouse.com%2Fstories', target: '_blank'

%section.a-section.a-section--img-block

%section.a-section.a-section--separated.u-padding-bottom
  .a-content--xwide
    %h1.a-heading.u-center Hackrooms
    .u-margin-top= render partial: 'shared/hackrooms', locals: { hackrooms: Hackroom.active }

%section.a-section.a-section--alt
  .a-content--xwide
    %h1.a-heading.u-center From the blog
    = render partial: 'shared/posts', locals: { posts: @posts.take(4) }


.m-hero--home

:javascript
  var videoHero = document.getElementById('home-vid');
  videoHero.muted = "muted";
