- set_page_title("New sponsor")

.a-page-holder

  .m-post-editor
    %h1 Sponsor

    = link_to "View public page", sponsor_path(@sponsor), class: 'a-button a-button--admin-edit' if @sponsor.persisted?

    = form_for [:admin, @sponsor] do |f|
      .m-post-editor__title
        %h1= f.text_field :name, placeholder: "Yoox NET-A-PORTER"

      .a-content
        %h2 Referral link
        %p This is where we link to from the site and in emails for people wanting to find out more about your organisation.
        .m-post-editor__title
          = f.text_field :link

      .m-post-editor__title
        %h2 Description title
        %p
          The description is shown at the top of your
          = succeed '.' do
            = @sponsor.persisted? ? (link_to 'sponsor page', sponsor_path(@sponsor)) : 'sponsor page'
          You can set a title or the default will be what's shown here:
        %h2= f.text_field :description_heading, placeholder: "What's it like to work at #{@sponsor.name}?"

      .m-post-editor__content
        %h2 Description
        = f.cktext_area :description, cols: 40, ckeditor: { uiColor: '$colour-grey' }

      .m-post-editor__content
        %h2 Address
        %p This will be linked to on Google Maps in emails, on meetup pages and on your sponsor page.
        = f.cktext_area :address, cols: 40, ckeditor: { uiColor: '$colour-grey' }

      .m-profile__image-upload
        %h2 Logo
        %p
          This appears in emails and on sponsor and meetup pages.
          %br
          SVGs are ideal for best quality.
        = image_tag(@sponsor.logo, class: 'a-logo')
        %br
        = f.file_field :logo

        .a-section--overflow
          %h2 Languages
          %p What languages does your organisation use?
          = f.select :language_ids, language_options_for_select(Language.all, f.object.language_ids), { label: 'Sponsor languages' }, multiple: true, class: 'chosen-select'

      - if current_user.has_role?(:admin)
        .a-section--overflow
          .m-hackroom__admins
            %h1 WLC admins only
            %h2 Sponsorship admins
            %p This provides access to a sponsor's representative to manage their page and meetups.
            = f.select :user_ids, user_options_for_select(User.all, f.object.user_ids), { label: 'Sponsorship admins' }, multiple: true, class: 'chosen-select'

        .m-post-editor__title
          %h2 Publish page?
          .m-form__checkbox
            = f.check_box :listed
            = f.label 'Display this page on the sponsors listing page'

      .u-margin-top
        .m-post-editor__submit
          - if current_user.has_role?(:admin)
            - if @sponsor.persisted?
              = link_to "Cancel", admin_sponsors_path, class: 'a-button a-button--ghost u-left'
              = f.submit 'Save changes', class: 'a-button u-float-right'

            - else
              = link_to "Cancel", admin_sponsors_path, class: 'a-button a-button--ghost'
              = f.submit 'Add', class: 'a-button'

          - else
            = link_to "Cancel", sponsor_path(@sponsor), class: 'a-button a-button--ghost u-left'
            = f.submit 'Save changes', class: 'a-button u-float-right'
