.a-page-holder
  %section.a-section
    .a-content--xwide
      .m-admin__user.u-margin-top
        .m-admin__20
          %strong Logo
        .m-admin__20
          %strong Name
        .m-admin__20
          %strong Total meetups
        .m-admin__user-submit

      - @sponsors.each do |sponsor|
        .m-admin__user
          .m-admin__20
            .m-admin__logo
              = image_tag(sponsor.logo_url)
          .m-admin__20
            = link_to sponsor.name, sponsor_path(sponsor)
          .m-admin__20.u-center
            = sponsor.events.count
          .m-admin__user-submit
            = link_to 'Edit', edit_admin_sponsor_path(sponsor), class: 'a-button'

  %section.a-section.u-margin-top--mobile
    .a-content
      = link_to "Add sponsor", new_admin_sponsor_path, class: 'a-button  a-button--admin-edit'
