.a-page-holder
  %section.a-section
    .a-content--xwide
      %table.m-admin-table
        %thead
          %tr
            %th{style: 'width: 37%'}
              Name
            %th{style: 'width: 37%'}
              Logo
            %th{style: 'width: 10%'}
              Meetups
            %th{style: 'width: 10%'}
              Contacts
            %th{style: 'width: 5%'}
        %tbody
          - @sponsors.each do |sponsor|
            %tr
              %td{style: 'width: 37%'}
                = link_to sponsor.name, sponsor_path(sponsor)
              %td{style: 'width: 37%'}
                = link_to sponsor_path(sponsor) do
                  = image_tag(sponsor.logo_url)
              %td{style: 'width: 10%'}
                = sponsor.events.count
              %td{style: 'width: 10%'}
                = sponsor.users.count
              %td{style: 'width: 5%'}
                = link_to 'Edit', edit_admin_sponsor_path(sponsor), class: 'a-button'

  %section.a-section.u-margin-top--mobile
    .a-content
      = link_to "Add sponsor", new_admin_sponsor_path, class: 'a-button  a-button--admin-edit'
