%section.a-section
  .a-content
    .a-step__progress-list
      - @course.steps.each do |step|
        = link_to course_step_path(@course, step) do
          .a-step__step
            .a-step__number{class: ('a-step__number--complete' if step.completed_by?(current_user))}= step.position
    %h1= @step.title
    .u-margin-top--small= sanitize @step.content

    - unless @step.position == 1
      %h2.u-float-left
        = link_to course_step_path(@course, (@step.position - 1)) do
          %i.fa.fa-backward
          Back

    - unless @step.position == @course.steps.count
      %h2.u-float-right
        = link_to next_course_step_path(@course, (@step.position)) do
          Next
          %i.fa.fa-forward

    - if @step.position == @course.steps.count
      %h2.u-float-right
        = link_to finish_course_step_path(@course, (@step.position)) do
          Finish

%section.a-section
  .a-content
    .m-comments
      %h2
        Comments
        %i.fa.fa-comment-o

      - if current_user
        .m-comment__new
          = form_for [@course, @step, @step.comments.new], class: 'js-remote-form', remote: true do |f|
            = f.text_field :body, class: 'js-remote-text-field', autocomplete: :off, placeholder: "Write a comment..."
            = hidden_field_tag :authenticity_token, form_authenticity_token
            .hide-if-js.u-float-right= f.submit 'Post', class: 'a-button'

      - else
        = render partial: 'shared/sign_in_to_comment'

      %ul.m-comments__feed#comments-list
        = render partial: 'shared/comment_feed', locals: { comments: @step.comments.published.most_recent_first }

- if can? :edit, @step
  %section.a-section.u-margin-top--mobile
    .a-content.u-center
      = link_to "Edit step", edit_course_step_path(@course, @step), class: 'a-button a-button--edit'

%section.a-section.u-margin-top--mobile
  .a-content.u-center
    = link_to "Back to course", course_path(@course), class: 'a-button'
