.a-page-holder
  .u-margin-top--desktop

  = form_for @role do |f|
    .m-post-editor
      %h1= f.text_field :name, placeholder: 'Role name'
      %h2 Description
      = f.text_area :description, id: 'froala'

    .u-margin-top
      .m-post-editor__submit
        .u-float-right
          = link_to "Cancel", admin_roles_path, class: 'a-button a-button--ghost u-right'
          = f.submit 'Save', class: 'a-button u-right'
