.a-highlights.u-margin-bottom--small.u-full-width
  .a-highlight{style: "border-right: solid 2px #{course.colour}"}
    %i.fa.fa-wrench
    = pluralize(course.steps.count, 'Step')

  .a-highlight{style: "border-right: solid 2px #{course.colour}"}
    %i.fa.fa-user
    = pluralize(course.users.count, 'Learner')

  .a-highlight{style: "border-right: solid 2px #{course.colour}"}
    %i.fa.fa-comments
    = pluralize(course.all_comments, 'Comment')

