%section.a-section
  .a-content
    %h1= @course.title
    .u-margin-top--small= sanitize @course.description

    %ul.u-margin-top
      - @course.steps.each do |step|
        %li= link_to step.title, course_step_path(@course, step)

- if can? :manage, @course
  %section.a-section.u-margin-top--mobile
    .a-content.u-center
      = link_to "Add step", new_course_step_path(@course), class: 'a-button a-button--edit'

- if can? :edit, @course
  %section.a-section.u-margin-top--mobile
    .a-content.u-center
      = link_to "Edit course", edit_course_path(@course), class: 'a-button'
