- comments.each do |comment|
  %div{id: "comment-#{comment.id}"}
    %li.m-comment.m-comment--delete
      = render partial: 'shared/user_tag', locals: { user: comment.author, with_date: true, date: post.created_at }
      - if can? :update, comment
        = link_to hide_comment_path(comment), remote: true do
          %i.fa.fa-trash

    .m-comment__content
      = comment.body
      - unless comment.replies.published.empty?
        .u-float-right= pluralize(comment.replies.published.size, 'reply')

      .m-comment__replies#comment-replies
        = render partial: 'posts/replies', locals: { comment: comment }
