.m-post-editor
  = form_for @post do |f|
    .m-post-editor__title
      %h1= f.text_field :title, placeholder: "Title"
    .m-post-editor__meta
      %h2= f.text_field :author, placeholder: "Author"
    .m-post-editor__content
      = f.trix_editor :content
    .u-center
      .m-post-editor__submit
        - unless current_page?('/posts/new')
          = link_to "Cancel", post_path(@post), class: 'a-button a-button--ghost'
        = f.submit 'Save changes', class: 'a-button'
