- set_page_title("New post")

.m-post-editor
  %h1 New post
  %p
    Your posts appear on
    = link_to "your profile", user_path(current_user)
    and the
    = link_to "blog posts", posts_path
    page. It can be a blog post or even just a link to something cool.

  = form_for @post do |f|
    .m-post-editor__title
      %h1= f.text_field :title, placeholder: "Title"
    .m-post-editor__content
      = f.trix_editor :content

    .m-post-editor__options
      %h2 Sharing options

      - if can? :publish, Post
        = f.check_box :featured
        = f.label :featured, "Show this post on the home page"

      %p
        The text and image that appears on your post's link when it's shared. You can preview this on
        %i.fa.fa-twitter
        = link_to "Twitter", "https://cards-dev.twitter.com/validator"
        and
        %i.fa.fa-facebook
        = link_to "Facebook", "https://developers.facebook.com/tools/debug/"
        after you've saved the post. You can change them anytime.
      %p
        Description
      = f.text_field :description, placeholder: "I wrote a post on West London Coders"
      %p
        Image
      = f.text_field :twitter_image

      %h2.u-margin-top Tags
      %p
        Tags make it easier to find posts on Google and when people search the site.
      .a-tags
        = f.fields_for :tags do |tag|
          .nested-fields
            .field.a-tags--form
              - if tag.object.persisted?
                %h1.a-tag.a-tag--post-tag
                  = tag.object.name
                  = link_to_remove_association "x", tag, class: 'a-tag--remove'
              - else
                = tag.text_field :name
      .links.u-right
        = link_to_add_association 'Add', f, :tags, class: 'a-button a-button--ghost', id: 'js-add'

      %h2.u-margin-top Photos
      = f.fields_for :post_attachments do |photo|
        .nested-fields
          .field
            - if photo.object.persisted?
              = image_tag photo.object.avatar
              = link_to_remove_association "Remove", photo, class: 'u-float-right'
            = photo.file_field :avatar
      .links.u-right
        = link_to_add_association 'Add', f, :post_attachments, class: 'a-button a-button--ghost', id: 'js-add'

      .u-margin-top
        .m-post-editor__submit
          - if current_page?('/posts/new')
            = link_to "Cancel", posts_path, class: 'a-button a-button--ghost'
            = f.submit 'Publish', class: 'a-button'
          - else
            = link_to "Delete post", @post, method: :delete, data: { confirm: 'Delete post?' }, class: 'a-button a-button--ghost u-left'
            = link_to "Cancel", post_path(@post), class: 'a-button a-button--ghost u-left'
            = f.submit 'Save changes', class: 'a-button u-float-right'
