.m-post-editor
  = form_for @post do |f|
    .m-post-editor__title
      %h1= f.text_field :title, placeholder: "Title"
    .m-post-editor__content
      = f.trix_editor :content

    %section.a-section
      .a-content
        %h1 Tags
        .a-tags
          = f.fields_for :tags do |tag|
            .nested-fields
              .field.a-tags--form
                - if tag.object.persisted?
                  %h1.a-tag.a-tag--page-tag
                    = tag.object.name
                    = link_to_remove_association "x", tag, class: 'a-tag--remove'
                - else
                  = tag.text_field :name
        .links
          = link_to_add_association 'Add', f, :tags, class: 'a-button a-button--ghost', id: 'js-add'

    .u-center
      .m-post-editor__submit
        - if current_page?('/posts/new')
          = link_to "Cancel", posts_path, class: 'a-button a-button--ghost'
          = f.submit 'Publish', class: 'a-button'
        - else
          = link_to "Delete", @post, method: :delete, class: 'a-button a-button--ghost'
          = link_to "Cancel", post_path(@post), class: 'a-button a-button--ghost'
          = f.submit 'Save changes', class: 'a-button'
