- set_page_title("Posts")

.a-page-holder

  %section.a-section
    .a-content--wide.a-content--tight
      %h1.a-heading
        #post-search-heading
          = render 'heading'

      = render partial: 'filter_posts'
      = render partial: 'sort'

  - if current_user
    %section.a-section.u-margin-top--mobile
      .a-content.u-center
        = link_to "Write a post", new_post_path, class: 'a-button  a-button--edit'

  .a-content--xwide
    #post-search-results
      = render 'results'
