- set_page_title("Blog")

%section.a-section
  .a-content
    %h1.a-heading
      #post-search-heading
        = render 'heading'

    = render partial: 'filter_posts'
    = render partial: 'sort_posts'

    #post-search-results
      = render 'results'

    - if user_is_admin?
      .u-center
        = link_to "New post", new_post_path, class: 'a-button a-button--edit'
