.m-user-list__search.js-filter-form.m-user-list__search--fixed
  = search_form_for @search, url: search_admin_users_path, method: :post, remote: true do |f|
    .m-user-list__search-item
      = f.search_field :name_cont, placeholder: 'Search by name'
    .m-form__checkboxes
      - @roles.each do |role|
        .m-form__checkbox
          = check_box_tag 'q[roles_id_eq_any][]', role.id
          = role.name
    = f.submit "Search", class: 'a-button u-hide-on-desktop'

