%section.a-section
  .a-content--xwide
    .a-content--post
      .m-post
        %h1= @post.title

        = render partial: 'posts/author', locals: { user: @post.created_by, post: @post }

        .m-post__content
          = sanitize @post.content

        .a-tags
          - @post.tags.each do |tag|
            %h2.a-tag.a-tag--post-tag= tag.name

      .m-post__images
        - @post_attachments.each do |p|
          = image_tag p.avatar_url
