%section.a-section
  .a-content--xwide
    .m-gallery
      .m-gallery__post
        %h1= @post.title

        = render partial: 'shared/user_tag', locals: { user: @post.created_by, with_date: true, date: @post.created_at }

        .u-margin-top--small= sanitize @post.content

        .a-tags
          - @post.tags.each do |tag|
            %h2.a-tag.a-tag--light-blue= tag.name
      .m-gallery__images
        - @post.post_attachments.each do |p|
          = image_tag p.avatar_url
