%header
  .s-navbar
    .s-navbar__logo
      = link_to root_path do
        %img{src: asset_path("logo.svg")}
        %span.s-navbar__logo-text West London Coders
    .s-navbar__desktop-nav-menu= render partial: 'layouts/navbar/nav_menu_items'
    .s-navbar__mobile-burger= render partial: 'layouts/navbar/mobile_burger'
    .s-navbar__user-nav-icons#nav-icons= render partial: 'layouts/navbar/user_nav_icons'

  #nav-menu-dropdown-mobile= render partial: 'layouts/navbar/nav_menu_dropdown_mobile'
  #user-nav-menu-dropdown= render partial: 'layouts/navbar/user_nav_menu_dropdown' if current_user
  #notifications-dropdown= render partial: 'layouts/navbar/notifications_dropdown' if current_user

.a-social-links--right
  .a-social-links
    %a{:href => "https://westlondoncoders.herokuapp.com/", :target => "_blank", title: "Slack"}
      %i.fa.fa-slack
    %a{:href => "https://github.com/westlondoncoders", :target => "_blank", title: "GitHub"}
      %i.fa.fa-github
    %a{:href => "https://twitter.com/westlondoncode", :target => "_blank", title: "Twitter"}
      %i.fa.fa-twitter

.u-navbar-clear
