- if logged_in
  %ul#m-dropdown
    %li.m-dropdown.m-dropdown--hover.js-menu
      - if current_user.image
        %img{src: current_user.image, class: 'm-dropdown__trigger'}
      - else
        %img{src: asset_path("avatar.png"), class: 'm-dropdown__trigger'}
      %ul.m-dropdown__submenu.m-dropdown__submenu--right-small.js-submenu
        %li
          = link_to "My profile", user_path(current_user)
        %li
          = link_to "Interests", interests_path
        %li
          = link_to "Sign out", destroy_user_session_path, method: :delete
- else
  %ul#m-dropdown
    %li.m-dropdown.m-dropdown--hover.js-menu
      %a{href: '', class: 'm-dropdown__trigger a-button a-button--small'} Sign in
      %ul.m-dropdown__submenu.m-dropdown__submenu--right.js-submenu
        %li
          = form_for(:user, url: session_path(:user)) do |f|
            .m-sign-in
              = f.email_field :email, autofocus: true, placeholder: "Email"
              = f.password_field :password, autocomplete: "off", placeholder: "Password"
              = f.submit "Log in", class: 'a-button'
              = link_to "Register", new_registration_path(:user), class: 'a-button'
