- if logged_in
  %ul#m-dropdown
    %li.m-dropdown.m-dropdown--hover.js-menu
      - if current_user
        %img{src: avatar_url(current_user), class: 'm-dropdown__trigger'}
      - else
        %img{src: asset_path("avatar.png"), class: 'm-dropdown__trigger'}
      %ul.m-dropdown__submenu.m-dropdown__submenu--right-small.js-submenu
        %li
          = link_to "My profile", user_path(current_user)
        %li
          = link_to "Edit profile", edit_user_path(current_user)
        %li
          = link_to "Write a post", new_post_path
        %li
          = link_to "Sign out", destroy_user_session_path, method: :delete
- else
  %ul#m-dropdown
    %li.m-dropdown.m-dropdown--hover.js-menu
      = link_to user_github_omniauth_authorize_path, class: 'a-button a-button--small' do
        %i.fa.fa-github
        Sign in
