- if logged_in
  %ul#m-dropdown
    %li.m-dropdown.m-dropdown--hover.js-menu
      - if current_user
        %img{src: avatar_url(current_user), class: 'm-dropdown__trigger'}
      - else
        %img{src: asset_path("avatar.png"), class: 'm-dropdown__trigger'}
      %ul.m-dropdown__submenu.m-dropdown__submenu--right-small.js-submenu
        %li
          = link_to "Admin", admin_root_path if can? :manage, User.all
        %li
          = link_to "Your profile", user_path(current_user)
        %li
          = link_to "Write a post", new_post_path
        %li
          = link_to "Start a hackroom", new_hackroom_path if can? :create, Hackroom
        %hr
        %li
          = link_to "Sign out", destroy_user_session_path, method: :delete
- else
  %ul#m-dropdown
    %li.m-dropdown.m-dropdown--hover.js-menu
      = link_to new_user_session_path, class: 'a-button a-button--small' do
        Sign in
